<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - マイ ASP.NET アプリケーション</title>
  <link href="~/Content/themes/base/theme.css" rel="stylesheet" />
  <link href="~/Content/themes/base/base.css" rel="stylesheet" />

  @Scripts.Render("~/bundles/baselib")

  @RenderSection("scripts", required: false)
</head>
<body>
  <div class="container body-content">
    @RenderBody()
  </div>
</body>
</html>
