<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  @Scripts.Render("~/bundles/baselib")
  @Scripts.Render("~/bundles/dialogcommon")
  @RenderSection("scripts", required: false)
  <style type="text/css">
    html,body{margin:0;padding:0;}
  </style>
</head>
<body>
  @RenderBody()
</body>
</html>
